# Environment
.env.local
.env.*.local

# Dependencies
node_modules/
liamoles-backend/lambda/node_modules/

# Build output
dist/
cdk.out/

# CDK
*.d.ts
*.js.map
liamoles-backend/bin/*.js
liamoles-backend/lib/*.js

# Misc
.DS_Store
*.log
*.idea
